@page "/"
@using BenutzerApp.Services;
@using Common.Model;
@inject AuthService AuthService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MudButton Variant="Variant.Filled" Href="/stationchange">Station auswählen</MudButton>

@code{

    protected override async Task OnInitializedAsync()
    {
        var response = await AuthService.Auth(new ModelEvaluatorAuthData("abc"));
    }
}
