@page "/stationchange"

<h3>Aktuelle Station: @_currentStation.Description</h3>
<hr />

@if (_stations.Count > 0) {
    <MudDataGrid Items="@_stations">
        <Columns>
            <PropertyColumn Property="x => x.Description"></PropertyColumn>
            <TemplateColumn>
                <CellTemplate>
                    <MudButton Variant="Variant.Outlined" OnClick="()=>SelectStation(context.Item)">Wählen</MudButton>
                </CellTemplate>
            </TemplateColumn>
        </Columns>

    </MudDataGrid>
}