@page "/stationchange"

<h3>Aktuelle Station: @_currentStation.CriteriaName</h3>
<hr />
<h4>Neue Station:</h4>
<MudDataGrid Items="@_stations">
    <Columns>
        <PropertyColumn Property="x => x.CriteriaName" Title="Stationsname"></PropertyColumn>
        <TemplateColumn>
            <CellTemplate>
                @{
                    bool disabled = _currentStation.Id == context.Item.Id;
                    String icon = disabled ? Icons.Material.Filled.Circle : Icons.Material.Outlined.Circle;
                }
                <MudButton Variant="Variant.Outlined" StartIcon="@icon" Disabled="@disabled" OnClick="()=>SelectStation(context.Item)">Wählen</MudButton>
            </CellTemplate>
        </TemplateColumn>
    </Columns>

</MudDataGrid>