@page "/createknowledgetest"
@inject NavigationManager NavigationManager
@inject ISnackbar MudSnackbar
@inherits AuthenticationRazorPage
<div class="container">
    <div class="testanlegen">
        <br />
        <h3>Wissenstest anlegen</h3>
        <br><br>

        <MudTextField @bind-Value="@Year" Style="width: 400px;" Label="Testjahr" Required="true" Variant="Variant.Filled" />
        <br />
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateTest" Style="margin-right:10px;">Speichern</MudButton><MudButton Variant="Variant.Filled" Color="Color.Secondary" Href="/dashboard">Abbrechen</MudButton>
    </div>
</div>
