@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Dark">
        <h3 aria-label="Seitentitel" class="m-0">BFKDO Wissenstest - Admin App</h3>
    </MudAppBar>
    <MudMainContent >
        <div class="px-4 py-2">
            @Body
        </div>
    </MudMainContent>
</MudLayout>