@using Common.Services;
@inherits LayoutComponentBase

@inject AuthenticationStateService AuthenticationStateService;
@inject NavigationManager Navigation;

<MudThemeProvider Theme="_myTheme" @bind-IsDarkMode="_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Dark">
        @*HIER BILD EINFÜGEN -- ORDNER IN wwwroot ANLEGEN UND DORT BILD ABLEGEN
        dann im Verzeichnis rechts Rechtsklick auf Bild -> Eigenschaften -> In Ausgabeverzeichnis kopieren: immer kopieren
        *@
        <MudText Typo="Typo.h4" aria-label="Seitentitel" class="m-0">BFKDO Wissenstest - Admin App</MudText>
        <MudSpacer />
        @if (AuthenticationStateService.IsLoggedIn())
        {
            <MudIconButton Icon="@Icons.Material.Filled.House" Href="/dashboard" Color="Color.Inherit" />
            <MudIconButton Icon="@Icons.Material.Filled.Logout" Color="Color.Inherit" OnClick="Logout" />
        }
        <MudIconButton Icon="@Icon" Color="Color.Inherit" OnClick="() => _isDarkMode = !_isDarkMode" />
    </MudAppBar>
    <MudMainContent >
        <div class="px-4 py-2">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code{
    private MudTheme _myTheme = new();
    private bool _isDarkMode;
    private string Icon => _isDarkMode ? Icons.Material.Filled.WbSunny : Icons.Material.Filled.ModeNight;

    protected override void OnInitialized()
    {
        _myTheme = new MudTheme()
            {
                Palette = new PaletteLight()
                {
                    Primary = "#6750a4",
                    Secondary = "#625b71"
                },
                PaletteDark = new PaletteDark()
                {
                    Primary = "#004715"
                }
            };
        base.OnInitialized();
    }

    private void Logout()
    {
        AuthenticationStateService.DeleteJwtToken();
        Navigation.NavigateTo("/");
    }
}